@use "./variables" as v;
@use "./mixins" as m;

.cont {
  @include m.flex-center;
  flex-direction: column;
  padding-top: 200px !important;
  color: v.$text-color;
  font-family: v.$main-font;
  font-size: v.$medium-fs;

  ul {
    @include m.list-style;

    li {
      @include m.flex-center;
      margin: 10px 0;

      a {
        @include m.a-style;
      }

      .text-span {
        margin-left: 10px;
      }
    }
  }
}
