@use "./variables" as v;
@use "./mixins" as m;

footer {
  @include m.margin-za;
  width: v.$main-width;
  padding: 20px;
  text-align: center;

  footer p {
    font-family: v.$main-font;
    margin: 0;
    color: v.$main-dark;
  }
}
