@use "./variables" as v;
@use "./mixins" as m;

header {
  padding: 20px;
  max-width: v.$main-width;
  width: 100%;
  @include m.margin-za;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    @include m.flex-center;
    justify-content: flex-end;

    .headerButton {
      color: v.$main-dark;
      padding: 10px;
      margin: 0 10px;
      font-size: v.$medium-fs;
      cursor: pointer;
      text-decoration: none;
      font-family: v.$main-font;
      transition: 100ms;
      display: inline-block;
    }

    .headerButton:hover {
      -webkit-transform: scale(1.4);
      transform: scale(1.4);
    }
  }
}
