@use "./variables" as v;
@use "./mixins" as m;

#main {
  @include m.bg-gradient;
  font-style: oblique;

  #wrapper {
    position: relative;
    max-width: v.$main-width;
    width: 100%;
    height: 100%;
    @include m.margin-za;

    #words {
      font-weight: bold;
      @include m.flex-center;
      justify-content: center;
      position: absolute;
      top: 100px;
      left: 100px;
      margin: 0;
      font-size: 100px;

      div {
        transition: 0.3s color;
        cursor: pointer;
        background-image: radial-gradient(#4e499e 30%, #cf23cf);
        background-clip: text;
        color: transparent;
      }
    }

    .text {
      color: white;
      width: 50%;

      p {
        font-size: v.$medium-fs;
      }
    }
  }
}
