@use "./variables" as v;

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin margin-za {
  margin: 0 auto;
}

@mixin bg-gradient {
  background: linear-gradient(#d26b9d, #4e499e);
}