@use "./variables" as v;

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin margin-za {
  margin: 0 auto;
}

@mixin bg-gradient {
  background: linear-gradient(#d26b9d, #4e499e);
}

@mixin list-style {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin a-style {
  color: v.$text-color;
  text-decoration: none;
}
