//colors
$text-color: white;
$main-dark: black;
$btn-bg: #58094f;

//width
$main-width: 1200px;

//font size
$medium-fs: 18px;

//font-family
$main-font: 'Raleway', sans-serif;

//radius
$radius-twenty: 20px;
