//colors
$secondary-dark: rgb(64, 99, 67);
$main-dark: rgb(50, 80, 46);
$main-light: rgb(236, 231, 180);
$secondary-light: rgb(243, 239, 204);

//width
$main-width: 1200px;

//font size
$medium-fs: 18px;

//font-family
$main-font: 'Raleway', sans-serif;

//radius
$radius-twenty: 20px;
