header {
  padding: 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header ul .headerButton {
  color: black;
  padding: 10px;
  margin: 0 10px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  transition: 100ms;
  display: inline-block;
}
header ul .headerButton:hover {
  transform: scale(1.4);
}

.errorName {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100vh;
}

.errorBack {
  padding: 20px;
  font-size: "Raleway", sans-serif;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

footer {
  margin: 0 auto;
  width: 1200px;
  padding: 20px;
  text-align: center;
}
footer p {
  font-family: "Raleway", sans-serif;
  margin: 0;
  color: black;
}

.bg {
  background: linear-gradient(#d26b9d, #4e499e);
  font-style: oblique;
}
.bg .about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.bg .about h1 {
  font-size: 45px;
  margin-top: 0;
}
.bg .wrapper {
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.bg .wrapper #words {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100px;
  left: 100px;
  margin: 0;
  font-size: 100px;
}
.bg .wrapper #words div {
  transition: 0.3s color;
  cursor: pointer;
  background-image: radial-gradient(#4e499e 30%, #cf23cf);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.bg .wrapper .text {
  color: white;
  width: 50%;
}
.bg .wrapper .text p {
  font-size: 18px;
}
.bg .wrapper .tools {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.bg .wrapper .tools h2 {
  font-size: 35px;
  margin-top: 0;
}
.bg .wrapper .tools ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.bg .wrapper .tools ul .logo {
  width: 6rem;
}

.cont {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 200px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
.cont ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.cont ul li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.cont ul li a {
  color: white;
  text-decoration: none;
}
.cont ul li .img {
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont ul li .text-span {
  margin-left: 10px;
}

.cards-wrapper {
  display: flex;
  gap: 50px;
  padding: 100px 0;
  flex-wrap: wrap;
}
.cards-wrapper .card {
  background-color: aliceblue;
  padding: 30px;
  transition: all 1s ease-in;
  cursor: pointer;
  max-width: 500px;
  width: 100%;
}
.cards-wrapper .card__image {
  width: 100%;
}
.cards-wrapper .card__image img {
  width: 100%;
}
.cards-wrapper .card:hover {
  transform: scale(1.1);
  background-color: red;
}

.modal {
  width: 50%;
  position: absolute;
  background-color: red;
  padding: 50px;
}
.modal__image {
  width: 100%;
}
.modal__image img {
  width: 100%;
}

.App {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 80px auto 60px;
}/*# sourceMappingURL=App.css.map */