@use "styles/_variables" as v;
@use "styles/header";
@use "styles/error";
@use "./styles/footer";
@use "./styles/main";
@use "./styles/work-cont";

.App {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 80px auto 60px;
}
